* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: #d9dcd6;
}
header {
    background-color: #494a48;
    color: rgb(86, 210, 210);
}

nav a {
    background-color: #494a48;
    color: rgb(86, 210, 210);
    font-weight: bold;
    float: right;
    display: block;
    padding: 8px;
}

/* Flexbox container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  /* Left-side heading */
.heading {
    width: 25%;
    text-align: center;
  }

  /* Right-side content */
.content {
    width: 75%;
    text-align: center;
  }

.img {
    height: 25%;
    width: 100%;
    position: relative;   
}

.subtitle {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.header-img {
    height: 200px;
    width: 100%; 
}

h1 {
    float: left;
}

h1, h3 {
    text-align: center;
    color: #494a48;
    margin: 10px;
    padding: 5px;
}

h1 span, h3 span {
    background-color: rgb(86, 210, 210);
}

ul {
    list-style-type: none ;
}
   
.contact-me li {
    float: right;
  }
  
.contact-me a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }

.contact-me li a {
    color: rgb(45, 48, 81);
    font-weight: bold;
}

h2 {
    color: rgb(45, 48, 81);
    float: left;
    margin: 0 1.5%;
    width: 25%;
    border-right: 5px solid rgb(45, 48, 81);
}
