* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #d9dcd6;
  }
  
  header {
    background-color: #494a48;
    color: rgb(86, 210, 210);
  }
  
  nav a {
    background-color: #494a48;
    color: rgb(86, 210, 210);
    font-weight: bold;
    float: right;
    display: block;
    padding: 8px;
  }
  
  .img {
    width: 100%;
    position: relative;   
  }
  
  .subtitle {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .header-img {
    height: 200px;
    width: 100%; 
  }
  
  h1 {
    text-align: center;
    color: #494a48;
    margin: 10px;
    padding: 5px;
  }
  
  h1 span {
    background-color: rgb(86, 210, 210);
  }
  
  ul {
    list-style-type: none ;
  }
  
  .contact-me li {
    text-align: center;
  }
  
  .contact-me a {
    display: flex;
    padding: 8px;
    background-color: #dddddd;
  }
  
  .contact-me li a {
    color: rgb(45, 48, 81);
    font-weight: bold;
  }
  
  h2 {
    color: rgb(45, 48, 81);
    margin: 10 1.5%;
    border-right: 5px solid rgb(45, 48, 81);
    padding: 5px;
  }
  
  p {
    color: rgb(45, 48, 81);
  }
  
  ul li a {
    font-weight: bold;
    display: block;
    padding: 8px;
    color: rgb(45, 48, 81);
    text-align: center;
  }
  
  .container .content .images {
    display: flex;
    flex-direction: row;
  }
  
  @media (max-width: 720px) {
    .container .content .images {
      flex-direction: column;
    }
  }
  
  .images {
    width: 100%;
  }
  
  #study-guide-img {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }
  
