:root {
  --lightest-color: #f0ece2; 
  --beige: #dfd3c3; 
  --tan: #c7b198; 
  --navy: #05290b; 
}

* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
  }
  
  body {
    background-color: var(--lightest-color);
  }
  
  header {
    color: var(--navy);
    background-color: var(--navy);
  }
  
  nav a {
    background-color: var(--navy);
    color: var(--beige);
    font-weight: bold;
    float: right;
    display: block;
    padding: 8px;
  }
  
  .images {
    flex: 2;
    margin: 10px;
  }
  
  @media (max-width: 768px) {
    .images {
      max-width: 100%;
      height: auto;
      margin: 10px 0;
    }
  }  

/* Flexbox container */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50vh;
  }

  /* Left-side heading */
.heading {
    width: 25%;
    text-align: center;
  }

  /* Right-side content */
.content {
    width: 75%;
    text-align: center;
  }

.img {
    height: 25%;
    width: 100%;
    position: relative;   
}
  
  .subtitle {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .header-img {
    height: 250px;
    width: 100%; 
  }
  
  h1 {
    float:left;
    text-align: center;
    color: var(--navy);
    margin: 10px;
    padding: 5px;
    color: var(--beige);
  }

  h3 {
    text-align: center;
    color: var(--navy);
    float: right;
    margin: 10px;
    padding: 5px;
}  
  ul {
    list-style-type: none ;
  }
  
  .contact-me li {
    float: center;
    color: var(--navy);
    font-weight: bold;
  }
  
  .contact-me a {
    display: flex;
    padding: 8px;
  }
  
  .contact-me li a {
    color: var(--navy);
    font-weight: bold;
  }
  
  h2 {
    color: var(--navy);
    float: left;
    margin: 10 1.5%;
    border-right: 5px solid var(--navy);
    padding: 5px;
  }
  
  p {
    color: var(--navy);
  }
  
  ul li a {
    font-weight: bold;
    float: right;
    display: block;
    padding: 8px;
    color: var(--navy);
    text-align: center;
  }
  
  .container .content .images {
    display: flex;
    flex-direction: row;
  }
  
  @media (max-width: 720px) {
    .container .content .images {
      flex-direction: column;
    }
  }
  
  .images {
    height: 100%;
    width: 100%;
}

.images:hover {
    height: 110%;
    width: 110%;
}
  
  #placeholder {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }
  
  #graphic {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }

  #img.placeholder {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }

  #placeholder {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }

  #thumbnail {
    background-image: url(./images/study-guide.webp);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
  }

h4 {
  text-align: center;
  color: var(--navy);
}